<section id="contact-info" class="colour_mid-light">
	<h2 class="colour_light">
		Contact
	</h2>
	<ul id="contact-info-list">
		<li>
			<img alt="email icon" class="icon" src="/static/img/contact_email.png" />
			ajxs [at] panoptic.online
		</li>
		<li>
			<img alt="github icon" class="icon" src="/static/img/contact_github.png" />
			<a href="https://github.com/ajxs">
				github.com/ajxs
			</a>
		</li>
	</ul>
</section>
<section id="blog">
	<h2 class="colour_light">
		Latest blog entries
	</h2>
	<ul id="blog-entries">
		$blog_entries
	<ul>
</section>
