{
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "useTabs": true
      }
    },
    {
      "files": "*.sql",
      "options": {
        "useTabs": true
      }
    }
  ],
  "plugins": ["prettier-plugin-sql"]
}
