<article class="blog-entry">
	<header>
		<h1>{{title}}</h1>
		<div class="date">{{date}}</div>
		<div class="description">{{description}}</div>
		{{!This conditional block checks for the existence of a 'first' element within the tags array.
			Effectively testing the length. This ensures the tag list is only printed if there are tags.}}
		{{#tags.0}}
			<div class="tags">
				<span>Tagged as: </span>
				{{> tag_list}}
			</div>
		{{/tags.0}}
	</header>
	<div class="entry-body">
		{{{body}}}
	</div>
</article>
