<section id="blog">
	<h1>Blog</h1>
	{{> blog_index_entries}}
	<div id="blog-view-all-entries">
		<a href="/blog/all.html">View All Entries</a>
	</div>
	<h2>Tags</h2>
	<ul id="blog-index-tags">
		{{#index_tag_links}}
			<li>
				<a href='/blog/tag/{{filename}}.html'>{{name}}</a>
			</li>
		{{/index_tag_links}}
	</ul>
</section>
<section id="links">
	<nav>
		<a href="/about.html">About Me</a>
		<a href="mailto:ajxs@panoptic.online" target="_blank">Email Me</a>
		<a href="https://github.com/ajxs" target="_blank">Github</a>
		<a href="/donate.html">Donate</a>
		<a href="/site.rss" target="_blank">RSS</a>
	</nav>
		Webring:
		<a href="https://webri.ng/webring/ajxs/previous?index=0">Previous</a> /
		<a href="https://webri.ng/webring/ajxs/random">Random</a> /
		<a href="https://webri.ng/webring/ajxs/next?index=0">Next</a>
</section>
