<section id="blog">
	{{#heading}}
	<h1 id="blog-heading">
		{{{heading}}}
	</h1>
	{{/heading}}
	<ul id="blog-index-entries">
		{{#entries}}
			{{> blog_index_entry}}
		{{/entries}}
	</ul>
	{{#show_all_entries_link}}
		<div id="blog-view-all-entries">
			<a href="/blog/all.html">View All Entries</a>
		</div>
	{{/show_all_entries_link}}
	{{#show_tag_list}}
		{{!This conditional block checks for the existence of a 'first' element within the tags array.
			Effectively testing the length. This ensures the tag list is only printed if there are tags.}}
		{{#tags.0}}
			<h2>Tags</h2>
			<ul id="blog-index-tags">
				{{#tags}}
					<li>
						<a href='/blog/tag/{{filename}}.html'>{{name}}</a>
					</li>
				{{/tags}}
			</ul>
		{{/tags.0}}
	{{/show_tag_list}}
</section>
<section id="links">
	<nav>
		<a href="/about.html">About Me</a>
		<a href="mailto:ajxs@panoptic.online" target="_blank">Email Me</a>
		<a href="https://github.com/ajxs" target="_blank">Github</a>
		<a href="/donate.html">Donate</a>
		<a href="/site.rss" target="_blank">RSS</a>
	</nav>
		Webring:
		<a href="https://webri.ng/webring/ajxs/previous?index=0">Previous</a> /
		<a href="https://webri.ng/webring/ajxs/random">Random</a> /
		<a href="https://webri.ng/webring/ajxs/next?index=0">Next</a>
</section>
