<article class="blog-entry">
	<header>
		<h1>{{title}}</h1>
		<div class="date">{{date}}</div>
		<div class="short">{{short}}</div>
		<div class="tags">
			<span>Tagged as: </span>
			<ul class="tag-list">
				{{#tags}}
					<li><a href="/blog/tag/{{filename}}.html">{{name}}</a></li>
				{{/tags}}
			</ul>
		</div>
	</header>
	<div class="entry-body">
		{{{body}}}
	</div>
</article>
