<article class="blog-entry">
	<header>
		<h1>{{title}}</h1>
		<div class="date">{{date}}</div>
		<div class="short">{{short}}</div>
		<div class="tags">
			<span>Tagged as: </span>
			{{> tag_list}}
		</div>
	</header>
	<div class="entry-body">
		{{{body}}}
	</div>
</article>
