<section id="blog">
	<h1>Blog</h1>
	<ul id="blog-entries">
		$blog_entries
	</ul>
</section>
<section id="contact-info">
	<h1>Contact</h1>
	<ul id="contact-info-list">
		<li>
			<img alt="email icon" class="icon" src="/static/img/email.png" />
			ajxs [at] panoptic.online
		</li>
		<li>
			<img alt="github icon" class="icon" src="/static/img/github.png" />
			<a href="https://github.com/ajxs">
				github.com/ajxs
			</a>
		</li>
		<li>
			<img alt="RSS icon" class="icon" src="/static/img/rss.png" />
			Follow this blog via RSS <a href="/site.rss">here</a>.
		</li>
		<li>
			<img alt="RSS icon" class="icon" src="/static/img/webring.png" />
			Webring:
			<a href="https://webri.ng/webring/ajxs/previous?index=0">Previous</a> /
			<a href="https://webri.ng/webring/ajxs/random">Random</a> /
			<a href="https://webri.ng/webring/ajxs/next?index=0">Next</a>
		</li>
	</ul>
</section>
