<li>
	<a class="entry-link" href="/blog/{{filename}}.html">
		<h2>{{title}}</h2>
		<div class="date">{{date}}</div>
		<div class="short">{{short}}</div>
	</a>
	{{#show_tag_list}}
		<div class="tags">
			<span>Tagged as: </span>
			<ul class="tag-list">
				{{#tags}}
					<li><a href="/blog/tag/{{filename}}.html">{{name}}</a></li>
				{{/tags}}
			</ul>
		</div>
	{{/show_tag_list}}
</li>
