<section id="blog" class="index-section">
	<h1 class="colour_light">
		Blog
	</h2>
	<ul id="blog-entries">
		$blog_entries
	</ul>
</section>
<section id="contact-info" class="index-section">
	<h1 class="colour_light">Contact</h2>
	<ul id="contact-info-list" class="colour_light">
		<li>
			<img alt="email icon" class="icon" src="/static/img/contact/email.png" />
			ajxs [at] panoptic.online
		</li>
		<li>
			<img alt="github icon" class="icon" src="/static/img/contact/github.png" />
			<a href="https://github.com/ajxs">
				github.com/ajxs
			</a>
		</li>
		<li>
			<img alt="RSS icon" class="icon" src="/static/img/rss.png" />
			Follow this blog via RSS <a href="/site.rss">here</a>.
		</li>
	</ul>
</section>
