<section id="blog">
	<h1>Blog</h1>
	{{> blog_index_entries}}
	<div id="blog-view-all-entries">
		<a href="/blog/all.html">View All Entries</a>
	</div>
	<h2>Tags</h2>
	<ul id="blog-index-tags">
		{{#index_tag_links}}
			<li>
				<a href='/blog/tag/{{filename}}.html'>{{name}}</a>
			</li>
		{{/index_tag_links}}
	</ul>
</section>
<section id="contact-info">
	<h1>Contact</h1>
	<ul id="contact-info-list">
		<li>
			<a href="/about.html">About Me</a>
		</li>
		<li>
			<a href="/donate.html">Donate</a>
		</li>
		<li>
			<img alt="email icon" class="icon" src="/static/img/email.png" />
			ajxs [at] panoptic.online
		</li>
		<li>
			<img alt="github icon" class="icon" src="/static/img/github.png" />
			<a href="https://github.com/ajxs">
				github.com/ajxs
			</a>
		</li>
		<li>
			<img alt="RSS icon" class="icon" src="/static/img/rss.png" />
			Follow this blog's <a href="/site.rss">RSS feed</a>.
		</li>
		<li>
			<img alt="Webring icon" class="icon" src="/static/img/webring.png" />
			Webring:
			<a href="https://webri.ng/webring/ajxs/previous?index=0">Previous</a> /
			<a href="https://webri.ng/webring/ajxs/random">Random</a> /
			<a href="https://webri.ng/webring/ajxs/next?index=0">Next</a>
		</li>
	</ul>
</section>
