<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="author" content="$page_meta_author">
		<meta name="description" content="$page_meta_description">
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="$page_meta_keywords">
		<meta name="reply-to" content="$page_meta_email">
		<meta name="owner" content="$page_meta_author">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>$page_title</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	<body>
		<header class="colour_light">
			<a id="header-link" href="/">
				<h1>~ajxs</h1>
			</a>
		</header>
		$page_html
		<footer class="colour_dark">
				$copyright_text
		</footer>
	</body>
</html>
